<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" th:href="@{/}">EmpleosApp</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link active" th:href="@{/}">Inicio</a>
			</li>
			<!-- Menú de Categorías visible para ADMINISTRADOR y SUPERVISOR -->
			<li class="nav-item dropdown" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownCategorias" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Categorías
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownCategorias">
					<a class="dropdown-item" th:href="@{/categorias/create}">Crear categoría</a>
					<a class="dropdown-item" th:href="@{/categorias/index}">Índice de categorías</a>
				</div>
			</li>
			<!-- Menú de Vacantes visible para ADMINISTRADOR y SUPERVISOR -->
			<li class="nav-item dropdown" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownVacantes" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Vacantes
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownVacantes">
					<a class="dropdown-item" th:href="@{/vacantes/create}">Crear vacante</a>
					<a class="dropdown-item" th:href="@{/vacantes/indexPaginate}">Índice de vacantes</a>
				</div>
			</li>
			<!-- Menú de Usuarios visible solo para ADMINISTRADOR -->
			<li class="nav-item" sec:authorize="hasAuthority('ADMINISTRADOR')">
				<a class="nav-link" th:href="@{/usuarios/index}">Usuarios</a>
			</li>
		</ul>



		<div sec:authorize="isAnonymous()">
			<!-- Botones de Login y Registrarse solo si el usuario NO está autenticado -->
			<a class="btn btn-primary" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>&nbsp;
			<a class="btn btn-primary" th:href="@{/signup}" sec:authorize="!isAuthenticated()">Registrarse</a>
		</div>

		<div sec:authorize="isAuthenticated()">

			<div class="navbar-nav">
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-bell"></i>
						<span class="badge badge-danger">0</span> <!-- Número de notificaciones -->
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<!-- Elementos de notificaciones -->
					</div>
				</div>
				<div class="nav-item d-flex align-items-center">
					<span class="text-light mx-1">Bienvenido</span>
					<span class="text-light" sec:authentication="name"></span>
				</div>
				<a class="btn btn-primary ml-2" th:href="@{/confirmLogout}">Salir</a>
			</div>
		</div>

	</div>
	</div>
</nav>